<% content_for :page_title, ["Powers", @first_letter].compact.join(' - ') %>

<h1 class="govuk-heading-l">Powers</h1>

<%= render 'shared/az_nav' %>

<%= az_content(@first_letter) do %>
  <% if @powers.present? %>
    <%=
      govuk_table do |table|
        table.with_head do |head|
          head.with_row do |row|
            row.with_cell(text: 'Name')
            row.with_cell(text: 'Description')
          end
        end

        table.with_body do |body|
          @powers.each do |power|
            body.with_row do |row|
              row.with_cell(text: link_to(power.name, power, class: "govuk-link"))
              row.with_cell(text: power.fields['description'])
            end
          end
        end
      end
    %>

    <%= govuk_pagination(pagy: @pagy) %>

  <% else %>
    <p class="govuk-body">No matching records found</p>
  <% end %>
<% end %>
