<% content_for :page_title, "Power - #{@power.name}" %>

<h1 class="govuk-heading-l"><%= @power.name %></h1>
<p class="govuk-body">Status: <%= @power.fields['status'] %>

<p class="govuk-body"><%= @power.fields['description'] %></p>


<%= render 'shared/associations', associations: { agreements: @power.agreements } %>
