<% content_for :page_title, ["Controllers", @first_letter].compact.join(' - ') %>

<h1 class="govuk-heading-l">Controllers</h1>

<%= render 'shared/az_nav' %>

<%= az_content(@first_letter) do %>
  <% if @control_people.present? %>

    <ul class="govuk-list govuk-list--spaced">
    <% @control_people.each do |control_person| %>
      <li>
        <%= link_to control_person.name, control_person, class: "govuk-link" %>
      </li>
    <% end %>
    </ul>

  <% else %>
    <p class="govuk-body">No matching records found</p>
  <% end %>
<% end %>

<%= govuk_pagination(pagy: @pagy) %>
