<h1 class="govuk-heading-l">Controllers</h1>

<%= render 'shared/az_nav' %>

<%= az_content(@first_letter) do %>
  <ul class="govuk-list">
  <% @control_people.each do |control_person| %>
    <li>
      <%= link_to control_person.name, control_person, class: "govuk-link" %>
    </li>
  <% end %>
  </ul>
<% end %>

<%= govuk_pagination(pagy: @pagy) %>
