<h1 class="govuk-heading-l"><%= @control_person.name %></h1>

<p><%= @control_person.fields['Name'] %><p>

<%= render 'shared/associations', associations: { agreements: @control_person.agreements, powers: @control_person.powers } %>
