<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-font-size-80" aria-description="Displaying record names starting with <%= first_letter %>">
      <%= first_letter %>
    </p>
  </div>
  <div class="govuk-grid-column-three-quarters govuk-!-padding-top-2">
    <%= content %>
  </div>
</div>
