<h1 class="govuk-heading-l">Processors</h1>

<%= render 'shared/az_nav' %>

<%= az_content(@first_letter) do %>
  <ul class="govuk-list">
    <% @processors.each do |processor| %>
      <li>
        <%= link_to processor.name, processor, class: "govuk-link" %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= govuk_pagination(pagy: @pagy) %>
