<% content_for :page_title, ["Processors", @first_letter].compact.join(' - ') %>

<h1 class="govuk-heading-l">Processors</h1>
<p class="govuk-body">
  Data processors involved in information sharing agreements under the public service delivery, debt, fraud and civil registration provisions within the Digital Economy Act 2017
</p>

<%= render 'shared/az_nav' %>

<%= az_content(@first_letter) do %>
  <% if @processors.present? %>

  <ul class="govuk-list govuk-list--spaced">
    <% @processors.each do |processor| %>
      <li>
        <%= link_to processor.name, processor, class: "govuk-link" %>
      </li>
    <% end %>
  </ul>

  <% else %>
    <p class="govuk-body">No matching records found</p>
  <% end %>
<% end %>

<%= govuk_pagination(pagy: @pagy) %>
