<% content_for :page_title, "Processor - #{@processor.name}" %>

<h1 class="govuk-heading-l"><%= @processor.name %></h1>

<p class="govuk-body"><%= @processor.fields['name'] %></p>

<%= render 'shared/associations', associations: { agreements: @processor.agreements } %>
