<h1 class="govuk-heading-l"><%= @processor.name %></h1>

<dl class="govuk-summary-list">
  <% @processor.fields.each do |key, value| %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key"><%= key.humanize %></dt>
      <dd class="govuk-summary-list__value"><%= value %></dd>
    </div>
  <% end %>
</dl>
