<% tag_text ||= variable %>
<% if variable %>
  <div class="filter-output">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= label %></h3>

    <ul class="moj-filter-tags">

      <li>
        <%= link_to(params_to_clear, class: "moj-filter__tag") do %>
          <span class="govuk-visually-hidden">Remove this filter</span><%= tag_text %>
        <% end %>
      </li>

    </ul>
  </div>
<% end %>
