// Sassy
@import "govuk-frontend/govuk/all";

@import "sortable";
@import "az_nav";
@import "moj-frontend.min";

.output-for-filters {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .filter-output {
    flex-grow: 1;
    min-width: calc(100%/5);
    padding: 0.5rem;
    margin: 0.5rem;
  }
}
