.az-nav {
  padding-inline-start: 0;

  .az-item {
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
    background-color: govuk-colour("light-grey");
    padding: 0.25rem;
    text-align: center;
    margin: 0.75rem;
    line-height: inherit;

    a, a:visited {
      color: $govuk-link-colour;
    }
  }
}
